/*------------------------------------
 * tabs toolbar layout
 */
  
/* workspaces strip */
@media (-moz-bool-pref: "shy-zen.workspaces-on-top"){
  
  :root:has(#TabsToolbar-customization-target > #personal-bookmarks:nth-child(1))
  #zen-workspaces-button
  {bottom: calc(100vh - 150px);}
  
  #zen-workspaces-button
  {bottom: calc(100vh - 114px);}
  
  #zen-workspaces-button{
    position: fixed !important;
    display: flex !important;
    padding: 0px !important;
    height: 28px !important;
    gap: 0px !important;

    &, & * {transition: all .15s ease !important;}

    &>*{
      margin-inline: 0px !important;
      height: 100% !important;
      width: 30px !important;
      border-radius: 0px !important;
      &:nth-child(1){padding-left: 2px !important;}
      &:nth-last-child(1){padding-right: 2px !important;}
    }

    &:not(:hover) >*[active] .zen-workspace-icon{
      padding: 2px 4px !important;
      background: var(--zen-toolbar-element-bg);
      border-radius: 7px
    }

    &:hover{
      background: var(--zen-toolbar-element-bg) !important;
      &>*{
        &:hover{
          filter: none !important;
          opacity: 1 !important;
          background: transparent !important;
        }
        &[active]:hover{background: var(--toolbarbutton-active-background) !important;}
        &[active]{background: var(--zen-toolbar-element-bg) !important;}
      }
    }
  }

  #wrapper-zen-workspaces-button{
    width: 40px !important;
    background: red !important;
  }
}

#TabsToolbar-customization-target{
  
  @media (-moz-bool-pref: "shy-zen.workspaces-on-top"){
    /* buttons before and after workspaces */
    & > :nth-child(1 of toolbarbutton),
    & > :nth-child(2 of toolbarbutton){
      .toolbarbutton-text{display: none !important;}
      .toolbarbutton-icon{
        border-radius: 0px !important;
        width: 14px !important;
        height: 14px !important;
      }
      width: 28px !important;
      height: 28px !important;

      position: absolute !important;
      top: 0px;
      z-index: 2;
    }
    
    &:has( > #personal-bookmarks:nth-child(1)){
      & > :nth-child(1 of toolbarbutton),
      & > :nth-child(2 of toolbarbutton)
      {top: 36px;}
    }

    &:nth-child(1 of toolbarbutton)
    {left: 2px;}

    & > :nth-child(2 of toolbarbutton)
    {right: 2px;}
  }
  
  /* fix customizing mode */
  [id*="wrapper"]
  {border-width: 0px !important;}
  
  #wrapper-personal-bookmarks{
    height: 30px !important;
    padding: 0px !important;
  }
  
  /* top padding */
  &:has( > #personal-bookmarks:nth-child(1))
  {padding-top: 36px !important;}
  
  @media (-moz-bool-pref: "shy-zen.workspaces-on-top"){
    padding-top: 30px !important;
    &:has( > #personal-bookmarks:nth-child(1)){
      padding-top: 66px !important;
      #personal-bookmarks{margin-top: -66px !important;}
    }
  }
  
  /* bookmarks */
  #personal-bookmarks{
    position: absolute !important;
    margin-top: -36px;

    height: 30px !important;
    padding: 0px !important;
    margin-inline: 2px !important;
    width: calc(100% - 4px) !important;
    margin-bottom: 6px;

    background: var(--zen-toolbar-element-bg) !important;
    border-radius: var(--border-radius-medium) !important;

    #PlacesToolbarItems > .bookmark-item{
      border-radius: 10px !important;
      &[type="menu"] .toolbarbutton-icon{
        display: none;
      }
    }

    /* chevron */
    #PlacesChevron{
      .toolbarbutton-text{display: none !important;}
      border-radius: 10px !important;
      margin: 2px !important;
      &:not([open]):hover{
        background-color: var(--toolbarbutton-hover-background) !important;
        outline-color: var(--toolbarbutton-hover-outline-color) !important; 
      }
      &[open]{
        background-color: var(--toolbarbutton-active-background) !important;
        outline-color: var(--toolbarbutton-active-outline-color) !important;
      }
    }
    
    /* scrollable */
    @media (-moz-bool-pref: "shy-zen.bookmarks.scrollable-vertical") {
      #PlacesChevron{display: none}
      .bookmark-item{
        visibility: visible !important;
        max-width: calc(100% - 4px) !important;
        scroll-snap-align: center !important;
      }
      #PlacesToolbarItems{
        display: flex !important;
        flex-wrap: wrap !important;
        overflow-y: scroll !important;
        scroll-snap-type: y proximity;
        scrollbar-width: none !important;
      }
    }
    @media (-moz-bool-pref: "shy-zen.bookmarks.scrollable-horizontal") {
      #PlacesChevron{display: none}
      .bookmark-item{visibility: visible !important;}
      #PlacesToolbarItems{
        display: flex !important;
        overflow-x: scroll !important;
        scrollbar-width: none !important;
      }
    }
  }
}

:root[customizing] #TabsToolbar-customization-target #personal-bookmarks
{margin-top: 0px !important;}
