/*------------------------------------
 * tabs toolbar layout
 */
#TabsToolbar-customization-target{
  
  /* fix customizing mode */
  [id*="wrapper"]
  {border-width: 0px !important;}
  
  /* buttons before and after workspaces */
  #zen-workspaces-button + toolbarbutton,
  toolbarbutton:has(+#zen-workspaces-button){
    .toolbarbutton-text{display: none !important;}
    .toolbarbutton-icon{
      border-radius: 0px !important;
      width: 14px !important;
      height: 14px !important;
    }
    width: 28px !important;
    height: 28px !important;
    
    position: absolute !important;
    top: 36px;
    z-index: 2;
  }
  
  toolbarbutton:has(+#zen-workspaces-button)
  {left: 2px;}
  
  #zen-workspaces-button + toolbarbutton
  {right: 2px;}
  
  /* workspaces strip */
  #zen-workspaces-button{
    margin-inline: auto !important;
    padding: 0px !important;
    height: 28px !important;
    gap: 0px !important;
    
    &, & * {transition: all .15s ease !important;}
    
    &>*{
      margin-inline: 0px !important;
      height: 100% !important;
      width: 30px !important;
      border-radius: 0px !important;
      &:nth-child(1){padding-left: 2px !important;}
      &:nth-last-child(1){padding-right: 2px !important;}
    }
    
    &:not(:hover) >*[active] .zen-workspace-icon{
      padding: 2px 4px !important;
      background: var(--zen-toolbar-element-bg);
      border-radius: 7px
    }
    
    &:hover{
      background: var(--zen-toolbar-element-bg) !important;
      &>*{
        &:hover{
          filter: none !important;
          opacity: 1 !important;
          background: transparent !important;
        }
        &[active]:hover{background: var(--toolbarbutton-active-background) !important;}
        &[active]{background: var(--zen-toolbar-element-bg) !important;}
      }
    }
  }
  
  #personal-bookmarks + #zen-workspaces-button,
  #personal-bookmarks + toolbarbutton + #zen-workspaces-button{
    margin-top: 36px !important;
  }

  /* bookmarks */
  #personal-bookmarks{
    position: absolute !important;
    
    height: 30px !important;
    padding: 0px !important;
    margin-inline: 2px !important;
    width: calc(100% - 4px) !important;
    margin-bottom: 6px;

    background: var(--zen-toolbar-element-bg) !important;
    border: 1px solid light-dark(transparent, rgba(255, 255, 255, 0.1)) !important;

    .bookmark-item{
      border-radius: 10px !important;
      &[type="menu"] .toolbarbutton-icon{
        display: none;
      }
    }

    /* chevron */
    #PlacesChevron{
      .toolbarbutton-text{display: none !important;}
      border-radius: 10px !important;
      margin: 2px !important;
      &:not([open]):hover{
        background-color: var(--toolbarbutton-hover-background) !important;
        outline-color: var(--toolbarbutton-hover-outline-color) !important; 
      }
      &[open]{
        background-color: var(--toolbarbutton-active-background) !important;
        outline-color: var(--toolbarbutton-active-outline-color) !important;
      }
    }
    
    /* scrollable */
    @media (-moz-bool-pref: "shy-zen.bookmarks.scrollable-vertical") {
      #PlacesChevron{display: none}
      .bookmark-item{
        visibility: visible !important;
        max-width: calc(100% - 4px) !important;
        scroll-snap-align: center !important;
      }
      #PlacesToolbarItems{
        display: flex !important;
        flex-wrap: wrap !important;
        overflow-y: scroll !important;
        scroll-snap-type: y proximity;
        scrollbar-width: none !important;
      }
    }
    @media (-moz-bool-pref: "shy-zen.bookmarks.scrollable-horizontal") {
      #PlacesChevron{display: none}
      .bookmark-item{visibility: visible !important;}
      #PlacesToolbarItems{
        display: flex !important;
        overflow-x: scroll !important;
        scrollbar-width: none !important;
      }
    }
  }
}
