/*------------------------------------
 * essentials tweaks
 */
#zen-essentials-container{
  padding-block: 4px 7px !important;

  .tab-icon-image {scale: 1.5}
  [zen-glance-tab] .tab-icon-image {scale: 1}
}

@media not (-moz-bool-pref: "zen.workspaces.show-workspace-indicator") {
  #zen-essentials-container
  {border-bottom: 1px solid light-dark(rgba(1, 1, 1, 0.075), rgba(255, 255, 255, 0.1));}
  
  #vertical-pinned-tabs-container
  {padding-top: 5px !important;}
}

/*------------------------------------
 * glance
 */

/* essentials glance */
.tabbrowser-tab[zen-essential] .tabbrowser-tab[zen-glance-tab]{
  .tab-background{
    background-color: var(--tab-hover-background-color) !important;
    border: 1px solid light-dark(black, white) !important;
    border-radius: 1000px !important;
    margin: 0px !important;
  }
  
  .tab-content{padding: 0px !important;}
  .tab-close-button{display: none !important;}
  .tab-icon-stack{scale: .9}
  
  width: 24px !important;
  height: 24px !important;
  
  position: absolute !important;
  top: -2px !important;
  right: 0px !important;
}

/*------------------------------------
 * backgrounds 
 */

@media (-moz-bool-pref: 'zen.theme.essentials-favicon-bg') {
  .tabbrowser-tab[zen-essential] .tab-background{
    &::before{display: none}
    overflow: hidden !important;
    backdrop-filter: blur(10px) !important;
    &::after{
      transition: all .15s ease !important;
      filter: blur(25px) !important;
      opacity: .3;

      /* styles grabbed from vanilla zen */
      content: "";
      inset: -50%;
      position: absolute;
      background-size: 100% 100%;
      background-clip: padding-box !important;
      background-image: var(--zen-tab-icon);
      z-index: -1;
      /* */
    }
  }

  .tabbrowser-tab[zen-essential][selected]
  .tab-background{
    border: 1px solid color-mix(in srgb, currentColor, transparent 45%) !important;
    &::after{opacity: .5}
  }

  .tabbrowser-tab[zen-essential]:not([selected]):hover
  .tab-background::after{opacity: .4 !important;}

  .tabbrowser-tab[zen-essential][selected]:hover
  .tab-background::after{opacity: .7 !important;}
}

@media not (-moz-bool-pref: 'zen.theme.essentials-favicon-bg') {
  .tabbrowser-tab[zen-essential]:not([selected]):hover 
  .tab-background{background: var(--tab-selected-bgcolor) !important;}
  
  .tabbrowser-tab[zen-essential][selected]
  .tab-background{border: 1px solid color-mix(in srgb, currentColor, transparent 45%) !important;}
  
  .tabbrowser-tab[selected][zen-essential]:hover 
  .tab-background{background: var(--toolbarbutton-active-background) !important;}
}
  
.tabbrowser-tab[selected]:not([zen-essential]):hover 
.tab-background{background: var(--toolbarbutton-active-background) !important;}

/*------------------------------------
 * show tab close/reset button only on hover with cool animation
 */
:is(.tab-close-button, .tab-reset-button)
{transition: all .15s ease !important;}

.tabbrowser-tab:not([pinned],[zen-essential])
.tab-close-button,
.tabbrowser-tab[pinned]:not([zen-essential])
.tab-reset-button
{display: flex !important;}

.tabbrowser-tab:not(:hover) 
:is(.tab-close-button, .tab-reset-button){
  margin-inline-end: -25px !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

