/*------------------------------------
 * scrollable urlbar buttons 
 */
:root[zen-single-toolbar="true"]
#urlbar:not([breakout][breakout-extend]) {
  #identity-box,
  #page-action-buttons {
    position: relative;
    max-width: 30px !important;
    height: 34px !important;
    flex-wrap: wrap;
    margin-right: -4px;
    margin-top: -1px;
    overflow: scroll;

    scroll-snap-type: y proximity;
    scrollbar-width: none !important;
  }

  #page-action-buttons > :is([role="button"], #userContext-icons) {
    width: 28px !important;
    height: calc(100% - 6px) !important;
    margin-block: 3px !important;

    scroll-snap-align: center;
  }
  
  #userContext-indicator{
    margin: 0px !important;
    padding: 0px !important;
  }

  #identity-box > *{
    height: calc(100% - 6px) !important;
    margin-block: 3px !important;
    border-radius: var(--toolbarbutton-border-radius) !important;

    scroll-snap-align: center;
  }
  
  /* rm newtab search icon */
  #identity-box.localResource[pageproxystate="invalid"]{
    display: none !important;
  }
  
  /* rm searchmode */
  #urlbar-search-mode-indicator{
    display: none !important;
  }
}

/*------------------------------------
 * hide all buttons and show only on hover 
 */
:root[zen-single-toolbar="true"] {

  #identity-icon-box:not([open]),
  .urlbar-page-action:not([open]),
  #tracking-protection-icon-container
  {transition: margin 0.15s !important;}

  
  .urlbar-page-action:not([open]), #tracking-protection-icon-container {
    margin-inline-end: calc(-16px - 2 * var(--urlbar-icon-padding)) !important;
    opacity: 0;
  }

  #urlbar[open] :is(#tracking-protection-icon-container, .urlbar-page-action),
  #urlbar:hover :is(#tracking-protection-icon-container, .urlbar-page-action),
  .urlbar-page-action[open],
  #tracking-protection-icon-container[open] {
    opacity: 1;
    margin-inline-end: 0 !important;
  }

  #identity-icon-box:not([open]) {
    margin-inline-start: calc(-16px - 2 * var(--urlbar-icon-padding));
    opacity: 0;
  }

  #urlbar[open] #identity-icon-box,
  #urlbar:hover #identity-icon-box,
  #identity-icon-box[open]{
    opacity: 1;
    margin-inline-start: 0 !important;
  }
}

/*------------------------------------
 * little tweaks
 */
:root[zen-single-toolbar="true"] {
  /* hide some identity box things */
  #identity-icon-label,
  #blocked-permissions-container{
    display: none !important;
  }
  
  #urlbar-zoom-button{
    margin-inline: 0px !important;
    height: 16px !important;
    margin-block: 9px !important;
    padding-inline: 0 !important;
    .toolbarbutton-text{
      font-size: 10px !important;
    }
  }
}
