/*------------------------------------
 * compact menu 
 */
#context-navigation > .menuitem-iconic[disabled="true"] {background-color: transparent !important;}

menupopup .menu-iconic-left{
  margin-right: 12px !important;
  margin-left: 5px !important;
}

menuitem[type="checkbox"]:not([checked="true"]) 
.menu-iconic-icon {display: none !important;}

menupopup > :is(menuitem, menu){
  & > * {
    padding: 0px !important;
    margin: 1px !important;
  }
  
  max-width: 300px !important;
  height: fit-content !important;
  margin: 0 !important;
  padding-block: 3px !important;
}

:is(menuitem, menu).bookmark-item{
  padding-inline: 5px !important;
  .menu-iconic-left{margin-inline: 0px 3px !important;}
}

:is(.bookmark-item, #PlacesChevron, #bookmarks-menu-button, #sidebarMenu-popup) 
:is(menuitem, menu) {margin-inline: 2px !important;}

/*------------------------------------
 * tab menu 
 *
#tabContextMenu {
  &>:nth-child(1 of menuseparator){
    display: flex !important;
    visibility: visible !important;
    order: -1 !important;
  }
  
  &>:nth-child(-n+5 of menuitem:not([hidden])){
    order: -100 !important;
    --_hgt: 40px;
    width: 20% !important;
    height: var(--_hgt) !important;
    background-position: center !important;
    .menu-text{display: none !important;}
    
    &:not(:nth-child(1 of menuitem:not([hidden])))
    {margin-top: calc(0px - var(--_hgt)) !important;}
  }
  &>:nth-child(2 of menuitem:not([hidden])){margin-left: 20% !important;}
  &>:nth-child(3 of menuitem:not([hidden])){margin-left: 40% !important;}
  &>:nth-child(4 of menuitem:not([hidden])){margin-left: 60% !important;}
  &>:nth-child(5 of menuitem:not([hidden])){margin-left: 80% !important;}
}
