/*------------------------------------
 * animations
 */

:is(
  .tab-background,
  .toolbarbutton-icon,
  .toolbarbutton-badge-stack,

  .toolbarbutton-1,
  .bookmark-item,
  .PanelUI-zen-profiles-item,

  .download-state,

  .urlbarView-row,
  .urlbarView-action,
  .searchbar-engine-one-off-item,
  #urlbar-search-mode-indicator,

  #tracking-protection-icon-container,
  #page-action-buttons > *,
  #identity-box > *,

  toolbarbutton,
  toolbaritem,
  button,
  menu, 
  menuitem, 
  tab

):not(
  #urlbar-container,
  #personal-bookmarks

) {
  transition: all .15s ease !important;
  &:is(
    :active,
    :not(tab)[open]
  ) {scale: 0.95 !important;}
}

/*------------------------------------
 * active hover color fix 
 */
#navigator-toolbox[zen-sidebar-expanded="true"] {
& #TabsToolbar-customization-target {
& > :not(tabs):not(#search-container):not(#zen-workspaces-button), 
& #tabbrowser-arrowscrollbox-periphery > toolbarbutton {
&:is([open], [checked]) {
  background: var(--toolbarbutton-active-background) !important;
}}}}
